<div class="modal-header">
    <p for="ansattNavn">Ansatt navn:</p>
    <input id="ansattNavn" type="text" class="form-control modal-title" ng-model="vm.event.title">
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-3 col-md-offset-3 text-center">Start tid:</div>
        <div class="col-md-3 text-center">Slutt tid:</div>
    </div>

    <div class="row">
        <div id="startTid" class="col-md-3 col-md-offset-3"
             uib-timepicker
             ng-model="vm.event.startsAt"
             hour-step="1"
             minute-step="15"
             show-meridian="false">
        </div>

        <div id="sluttTid" class="col-md-3"
             uib-timepicker
             ng-model="vm.event.endsAt"
             minute-step="15"
             show-meridian="false">
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="vm.events.splice(vm.events.indexOf(vm.event), 1);$close()">Slett</button>
    <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>


